@use "global/common" as common;

.main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 60px;
  background-color:common.$color-white;
  border-radius: 10px;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.time {
  margin-top: 10px;
  font-weight: bold;
  color: common.$color-font-thin;
}

.body {
margin-top: 60px;

  & > h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}