@use "global/common" as common;

.header {
  margin: 5rem 0;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  
  @include common.mediaquery(sp) {
    margin: 2.5rem 0;
    font-size: 2rem;
  }
}
