@use "global/common" as common;

.main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 60px;
  background-color:common.$color-white;
  border-radius: 10px;
}

.post {
  +.post {
    margin-top: 60px;
  }
  
  > a {
      transition: opacity .3s;
    &:hover {
      opacity: 0.6;
    }
  }
  
  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .time {
    margin-top: 10px;
    font-weight: bold;
    color: common.$color-font-thin;
  }
}