@use "global/common" as common;

.main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 3.75rem;
  background-color: common.$color-white;
  border-radius: 10px;
  
  @include common.mediaquery(sp) {
    padding: 1.5rem 0.9375rem;
  }
}

.post {
  + .post {
    margin-top: 60px;
    
    @include common.mediaquery(sp) {
      margin-top: 1.875rem;
    }
  }

  > a {
    @include common.hover;
  }

  .title {
    font-size: 2em;
    font-weight: bold;
    
    @include common.mediaquery(sp) {
      font-size: 1.375rem;
    }
  }

  .time {
    margin-top: 0.625rem;
    font-weight: bold;
    color: common.$color-font-thin;
    
    @include common.mediaquery(sp) {
      margin-top: 0.5rem;
      font-size: 0.875rem;
    }
  }
}
