@use "global/common" as common;

.main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 60px;
  background-color: common.$color-white;
  border-radius: 10px;
  
  @include common.mediaquery(sp) {
    padding: 30px;
  }
}

.post {
  + .post {
    margin-top: 60px;
  }

  > a {
    @include common.hover;
  }

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .time {
    margin-top: 10px;
    font-weight: bold;
    color: common.$color-font-thin;
  }
}