@use "global/common" as common;

.body {
  min-height: 100vh;
  background: url(/bg.png) repeat center top / 500px;
  font-family: "Ubuntu", "Noto Sans JP", sans-serif;

  @include common.mediaquery(sp) {
    background-size: 350px;
  }

  &::after {
    content: "";
    top: 0;
    border: common.$body-border-width-pc common.$color-white solid;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    pointer-events: none;
    
    @include common.mediaquery(sp) {
      border: common.$body-border-width-sp common.$color-white solid;
    }
  }
}

.inner {
  padding: common.$body-border-width-pc calc(common.$body-border-width-pc * 2);
  
  @include common.mediaquery(sp) {
    padding: common.$body-border-width-sp calc(common.$body-border-width-sp * 2);
  }
}
