@use "global/common" as common;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

.wrap {
  font-family: 'Ubuntu', 'Noto Sans JP', sans-serif;
  background-color: common.$color-bg;
  min-height: 100vh;
  border-left: common.$color-white 40px solid;
  border-right: common.$color-white 40px solid;
  background: url(/bg.png) repeat center top / 500px;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    width: calc(100vw - common.$wrap-border-width);
    border-top: common.$color-white common.$wrap-border-width solid;
  }
  
  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    width: calc(100vw - common.$wrap-border-width);
    border-bottom: common.$color-white common.$wrap-border-width solid;
  }
}

.inner {
  padding: common.$wrap-border-width;
}