@use "global/common" as common;

.wrap {
  background-color: common.$color-bg;
  min-height: 100vh;
  border-left: common.$color-white 40px solid;
  border-right: common.$color-white 40px solid;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    width: calc(100vw - common.$wrap-border-width);
    border-top: common.$color-white common.$wrap-border-width solid;
  }
  
  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    width: calc(100vw - common.$wrap-border-width);
    border-bottom: common.$color-white common.$wrap-border-width solid;
  }
}

.inner {
  padding: common.$wrap-border-width;
}